<template>
  <div class="about">
    <h1>About this Webapp</h1>
    <img src="https://api.netlify.com/api/v1/badges/8c10ba01-a4f0-4a16-b54d-07d2848aa15f/deploy-status" />
    <p>
      This website is an Open Source project by Niwla23 (Alwin Lohrie) and
      licensed under MIT. The terms used are mostly german (Also note that it
      contains "h" instead of "b")
    </p>
    <h2>Contributing</h2>
    Contributing to the project is welcome. You can find the Source Code
    <a href="https://gitlab.com/Niwla23/intervall-calculator">here</a>. Feel free to Open Issues and Merge
    Requests
    <br><br>
    <h2>Legal</h2>
    <p>
      Hinweis: Diese Seite wird auf Netlify gehostet. Von uns werden keinerlei zusätzliche Daten erfasst. Die Datenschutzerklärung von Netlify findest du
      <a href="https://www.netlify.com/privacy/">hier</a>
    </p>
  </div>
</template>

<style scoped lang="scss">
footer {
  position: absolute;
  bottom: 2px;
}
</style>
