<template>
  <div class="container">
    <div class="topbar">
      <label
        >Zähle
        <select v-model="direction" name="direction">
          <option value="up">Hoch</option>
          <option value="down">Runter</option>
        </select>
      </label>
      <label
        >Oktaven
        <select v-model="octaves" name="direction">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </label>
      <p class="semitone_steps_result">
        Ergebniss: {{ semitone_steps }} HTS = {{ semitone_steps / 2 }} GTS =
        {{ step_word_mapping[semitone_steps] }}
      </p>
    </div>
    <div class="keyboard">
      <Key
        v-for="note in notes"
        v-bind:key="note.id"
        :note="note"
        v-on:click.native="startpointer = note.id"
        v-on:contextmenu.native="handlerightclick($event, note.id)"
      />
    </div>
    <p>
      Klicke links für den Startpunkt und rechts für den Zielpunkt (am Handy
      länger drücken)
    </p>
  </div>
</template>

<script>
// @ is an alias to /src
import Key from "@/components/Key.vue";

export default {
  name: "Home",
  components: {
    Key,
  },
  data: function() {
    return {
      step_word_mapping: {
        1: "kleine Sekunde",
        2: "große Sekunde",
        3: "kleine Terz",
        4: "große Terz",
        5: "(reine) Quarte",
        6: "Übermäßige Quarte (Tritonus)",
        7: "(reine) Quinte",
        8: "kleine Sexte",
        9: "große Sexte",
        10: "kleine Septime",
        11: "große Septime",
        12: "Oktave",
      },
      window: window,
      octaves: 2,
      direction: "up",
      startpointer: Number,
      endpointer: Number,
      notelist: [
        { text: "c", is_half_tone: false },
        { text: "cis / des", is_half_tone: true },
        { text: "d", is_half_tone: false },
        { text: "dis / es", is_half_tone: true },
        { text: "e", is_half_tone: false },
        { text: "f", is_half_tone: false },
        { text: "fis / ges", is_half_tone: true },
        { text: "g", is_half_tone: false },
        { text: "gis / as", is_half_tone: true },
        { text: "a", is_half_tone: false },
        { text: "ais / b", is_half_tone: true },
        { text: "h", is_half_tone: false },
      ],
    };
  },
  methods: {
    handlerightclick: function(e, note_id) {
      this.endpointer = note_id;
      this.$forceUpdate;
      e.preventDefault();
    },
  },
  computed: {
    notes: {
      get() {
        console.log("dd");
        console.log(this.octaves);
        var notes = [];
        for (let number = 0; number < Array(this.octaves).length; number++) {
          for (let note = 0; note < this.notelist.length; note++) {
            const element = this.notelist[note];
            var element2 = JSON.parse(JSON.stringify(element));
            notes.push(element2);
          }
        }
        for (let note2 = 0; note2 < notes.length; note2++) {
          const element = notes[note2];
          element["id"] = note2 + 1;
        }
        return notes;
      },
    },
    semitone_steps: function() {
      if (
        this.startpointer != Number &&
        this.endpointer != Number &&
        this.direction == "up"
      ) {
        var result = this.endpointer - this.startpointer;
        if (result > 0) {
          return result;
        } else {
          return this.notes.length - Math.abs(result);
        }
      } else if (this.direction == "down") {
        var result2 = this.startpointer - this.endpointer;
        if (result2 > 0) {
          return result2;
        } else {
          return this.notes.length - Math.abs(result2);
        }
      } else {
        return 0;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped lang="scss">
.keyboard,
.topbar {
  display: table;
}

.keyboard {
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 1px; /*Optional*/
}

.topbar {
  width: 100%; /*Optional*/

  border-spacing: 6px;
}

.topbar * {
  display: table-cell;
}

.semitone_steps_result {
  text-align: right;
}

select {
  background-color: rgb(255, 255, 255);
  border-radius: 2% !important;
  border-style: none;
}
</style>
