<template>
  <div class="container">
    <div class="topbar">
      <label
        >Zähle
        <select style="max-width: 90px" v-model="direction" name="direction">
          <option value="up">Hoch</option>
          <option value="down">Runter</option>
        </select>
      </label>
      <label
        >Oktaven
        <select style="max-width: 50px" v-model="octaves" name="direction">
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </label>
      <label
        >HTS
        <select
          style="max-width: 200px;"
          v-model="semitone_steps"
          name="direction"
        >
          <option
            v-for="(entry, hts) in step_word_mapping"
            v-bind:key="hts"
            :value="hts"
            >{{hts}}HTS - {{ entry.trim() }}</option
          >
        </select>
      </label>
    </div>
    <div class="keyboard">
      <Key
        v-for="note in notes"
        v-bind:key="note.id"
        :note="note"
        v-on:click.native="startpointer = note.id"
      />
    </div>
    <p>
      Klicke links für den Startpunkt und rechts für den Zielpunkt (am Handy
      länger drücken)
    </p>
  </div>
</template>

<script>
// @ is an alias to /src
import Key from "@/components/Key.vue";

export default {
  name: "Home",
  components: {
    Key,
  },
  data: function() {
    return {
      step_word_mapping: {
        1: "kleine Sekunde",
        2: "große Sekunde",
        3: "kleine Terz",
        4: "große Terz",
        5: "(reine) Quarte",
        6: "Übermäßige Quarte (Tritonus)",
        7: "(reine) Quinte",
        8: "kleine Sexte",
        9: "große Sexte",
        10: "kleine Septime",
        11: "große Septime",
        12: "Oktave",
      },
      window: window,
      semitone_steps: 1,
      octaves: 2,
      direction: "up",
      startpointer: Number,
      notelist: [
        { text: "c", is_half_tone: false },
        { text: "cis / des", is_half_tone: true },
        { text: "d", is_half_tone: false },
        { text: "dis / es", is_half_tone: true },
        { text: "e", is_half_tone: false },
        { text: "f", is_half_tone: false },
        { text: "fis / ges", is_half_tone: true },
        { text: "g", is_half_tone: false },
        { text: "gis / as", is_half_tone: true },
        { text: "a", is_half_tone: false },
        { text: "ais / b", is_half_tone: true },
        { text: "h", is_half_tone: false },
      ],
    };
  },
  computed: {
    notes: function() {
      var notes = [];
      for (let number = 0; number < Array(this.octaves).length; number++) {
        for (let note = 0; note < this.notelist.length; note++) {
          const element = this.notelist[note];
          var element2 = JSON.parse(JSON.stringify(element));
          notes.push(element2);
        }
      }
      for (let note2 = 0; note2 < notes.length; note2++) {
        const element = notes[note2];
        element["id"] = note2 + 1;
      }
      return notes;
    },
    endpointer: function() {
      if (this.direction == "up") {
        if (
          this.startpointer + Number(this.semitone_steps) <=
          this.notes.length
        ) {
          return this.startpointer + Number(this.semitone_steps);
        } else {
          return (
            this.startpointer + Number(this.semitone_steps) - this.notes.length
          );
        }
      } else {
        //return this.startpointer - Number(this.semitone_steps);
        if (this.startpointer - Number(this.semitone_steps) > 0) {
          return this.startpointer - Number(this.semitone_steps);
        } else {
          return (
            this.startpointer - Number(this.semitone_steps) + this.notes.length
          );
        }
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.keyboard,
.topbar {
  display: table;
}

.keyboard {
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 1px; /*Optional*/
}

.topbar {
  width: 100%; /*Optional*/

  border-spacing: 2px;
}

.topbar * {
  display: table-cell;
}

.semitone_steps_result {
  text-align: right;
}

select {
  background-color: rgb(255, 255, 255);
  border-radius: 2% !important;
  border-style: none;
}
</style>
