<template>
  <div class="key">
    <button
      class="normalnote notebtn"
      v-bind:class="{
        active1: ispointer1,
        active2: ispointer2,
        halfnote: note.is_half_tone,
        normalnote: note.is_half_tone === false,
      }"
    >
      {{ note.text }}
    </button>
  </div>
</template>

<script>
export default {
  name: "Key",
  props: {
    note: Object,
  },
  computed: {
    ispointer1: function() {
      if (this.note.id === this.$parent.startpointer) {
        return true;
      } else {
        return false;
      }
    },
    ispointer2: function() {
      if (this.note.id === this.$parent.endpointer) {
        return true;
      } else {
        return false;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.key {
  display: table-cell;
}

.notebtn {
  width: 100%;
  vertical-align: top;
  padding: 0%;
  margin: 0%;
  border-style: hidden;
}

.normalnote {
  background: white;
  height: 60vh;
}
.halfnote {
  background: rgb(0, 0, 0);
  color: white;
  height: 40vh;
}

.active1 {
  background: green;
  color: white;
  border-style: dashed;
  border-color: white;
}
.active1::before {
  content: "(Start)";
}

.active2 {
  background: rgb(255, 0, 0);
  color: white;
  border-style: dashed;
  border-color: white;
}
.active2::before {
  content: "(End)";
}
</style>
