<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Intervall bestimmen</router-link> |
      <router-link to="/generate">Intervall generieren</router-link> |
      <router-link to="/about">Über</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">

body {
  background: rgb(115, 138, 35);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
</style>